:root {
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
    --dark-purple-color: #3f429e;
    --purple-color: #7d83f2;
    --light-purple-color: #bba5f5;
    --lighter-purple-color: #E3D9FF;
}

body {
    background-color: var(--light-dark-color);
    font-family: "Verdana";
}

.login-block {
    background: linear-gradient(#2d2f30, #3f429e, #7d83f2);
    margin-top: 4rem;
    margin-bottom: auto;
    margin-left: 25rem;
    margin-right: 25rem;
    border: 0.1rem solid white;
    border-radius: 0.6rem;
}

.container {
    padding: 1rem;
}

.container h1, .container h2 {
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.container span {
    color: var(--purple-color);
}

.wrap {
    padding: 3rem;
}

.wrap .InputText {
    background: transparent;
    text-align: center;
    height: 3rem;
    width: 100%;
    position: relative;
}

.wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0px;
    border-bottom: 0.1rem solid #fff;
    font-size: 1rem;
    outline: none;
}

.wrap .InputText input:focus~label,
.wrap .InputText input:valid~label {
    transform: translateY(-50px);
    transition: all 0.3s ease;
    color: black;
    outline: none;
}

.wrap .InputText label {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
}

.submit {
    outline: none;
    padding: 0.2vw;
    border-radius: 100px;
    border: none;
    background-color: #1E6CA2;
    color: #FFFEF0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Gill Sans MT;
    font-size: 20px;
    padding: 10px 40px;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.submit:hover {
    border-color: #FFFEF0;
    background-color: #5FA7D8;
    font-family: Gill Sans MT;
}