:root {
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
    --dark-purple-color: #3f429e;
    --purple-color: #7d83f2;
    --light-purple-color: #bba5f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* MidayaHub */
.container {
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    padding: 0.8rem 0;
    border-bottom: 0.1rem solid var(--light-dark-color);
}

.container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
}

.container li {
    display: inline-block;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

.container li a {
    text-align: center;
    padding: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.container li span {
    color: var(--purple-color);
}

.topwrap {
    background-color: var(--light-dark-color);
}

.bookmark-btn button {
    padding: 20px;
    font-size: 30px;
    border: none;
    color: var(--purple-color);
    background-color: #fff;
    border-radius: 51%;
    position: fixed;
    bottom: 20px;
    right: 20px;

    transition: 0.5s;
}

.bookmark-btn button:hover {
    color: #fff;
    background-color: var(--purple-color);
}

.news-card .news-bookmark-btn button {
    padding: 10px;
    font-size: 20px;
    border: none;
    color: var(--purple-color);
    background-color: #fff;
    border-radius: 51%;
    float: right;

    transition: 0.5s;
}

.news-card .news-bookmark-btn button:hover {
    color: #fff;
    background-color: var(--purple-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.remove-button {
    padding: 5px 25px;
    font-size: 22px;
    border: none;
    color: #fff;
    background-color: var(--dark-purple-color);
    border-radius: 10px;

    transition: 0.5s;
}

.remove-button:hover {
    color: var(--dark-purple-color);
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Navigation Bar */
.topnav {
    background-color: var(--md-dark-color);
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topnav li {
    float: left;
    width: 20rem;
}

.topnav li a {
    display: block;
    color: rgb(225, 240, 253);
    text-align: center;
    padding: 0.8rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: var(--dark-purple-color);
    transition: all 0.5s;
}

.active {
    color: var(--light-purple-color) !important;
}

.wrap {
    min-height: 1000px;
    background-color: var(--dark-color);
}

img {
    width: 100%;
    display: block;
}

/* Search Bar */
.search-container {
    background-color: var(--dark-purple-color);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.search-element h4 {
    align-self: center;
    margin-right: 1rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.search-element .form-control {
    padding: 0.8rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    color: var(--light-dark-color);
    width: 45rem;
}

.bmpage-movie a {
    padding: 10px;
    font-size: 25px;
    border: none;
    color: var(--purple-color);
    border-radius: 5px;

    transition: 0.5s;
}

.bmpage-movie a:hover {
    color: #fff;
    background-color: var(--purple-color);
}

/* News Page */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
}

.news-card {
    display: flex;
    flex-direction: column;
    background-color: var(--light-dark-color);
    width: 23rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 0.3rem, rgba(6, 24, 44, 0.65) 0 1rem 2rem -0.2rem, rgba(255, 255, 255, 0.08) 0 0.1rem 0 inset;
    border-radius: 0.4rem;
    overflow: hidden;
    padding-bottom: 0.8rem;
}

.news-card img {
    min-height: 12rem;
    max-height: 12rem;
    background-color: #f4f4f4;
}

.news-card a {
    color: inherit;
    text-decoration: none;
}

.news-card h4,
.news-card div {
    padding: 1rem 0.6rem;
    margin: 0;
}

.publisherdate {
    display: flex;
    color: rgb(185, 182, 182);
}

.publisherdate p {
    margin: 0;
    font-size: 0.9rem;
}

.publisherdate span {
    padding: 0 0.8rem;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0;
    height: 6.2rem;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.4rem;
}

@media all and (min-width: 300px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2.2rem;
        justify-content: center;
    }

    .news-card h5,
    .news-card div {
        padding: 0.4rem 0.8rem;
    }
}

/* Movie Thumbnails */
.search-list {
    position: absolute;
    right: 0%;
    top: 100%;
    max-height: 400px;
    overflow-y: auto;
    z-index: 10;
}

.search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 15px;
    border-bottom: 1px solid var(--dark-color);
    width: calc(700px - 8px);
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:hover {
    background-color: #1f1f1f;
}

.search-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-item-thumbnail img {
    width: 50px;
    margin-right: 1rem;
}

.search-item-info h3 {
    font-weight: 600;
    font-size: 1rem;
}

.search-item-info p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

.search-list::-webkit-scrollbar {
    width: 8px;
}

.search-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
    background-color: var(--purple-color);
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list {
    display: none;
}

.hide-main-content {
    display: none !important;
}

.hide-bookmark-button {
    display: none !important;
}

.hide-movie-details {
    display: none !important;
}

.hide-back-button {
    display: none;
}

/* Movie Page */
.main-content {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.movie-card {
    background-color: var(--light-dark-color);
    width: 23rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 0.3rem, rgba(6, 24, 44, 0.65) 0 1rem 2rem -0.2rem, rgba(255, 255, 255, 0.08) 0 0.1rem 0 inset;
    border-radius: 0.4rem;
    padding-bottom: 0.8rem;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    padding: 1rem 2rem;
}

.popularPoster {
    min-height: 18rem;
    max-height: 18rem;
    object-fit: contain;
}

.movie-card:hover {
    background-color: #dddcdc;
    color: #000;
    transition: 0.4s;
    box-shadow: 0 0 0.5rem #fff;
}

/* Movie Results */
.result-container {
    padding: 10px 0;
}

.movie-poster img {
    max-width: 300px;
    margin: 0 auto;
    border: 0.2rem solid #fff;
}

.movie-info {
    text-align: center;
    color: #fff;
    padding-top: 15px;
}

.movie-title {
    font-size: 2rem;
    color: var(--purple-color);
}

.movie-detail-info {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.movie-info .year {
    font-weight: 500;
}

.movie-info .rated {
    background-color: var(--purple-color);
    padding: 0 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}

.movie-info .released {
    font-size: 0.9rem;
    opacity: 0.9;
}

.movie-info .writer {
    padding: 0.5rem;
    margin: 1rem 0;
}

.movie-info .genre {
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}

.movie-info .plot {
    max-width: 400px;
    margin: 1rem auto;
}

.movie-info .language {
    color: var(--purple-color);
    font-style: italic;
}

.movie-info .awards {
    font-weight: 300;
    font-size: 0.9rem;
}

.movie-info .awards i {
    color: var(--purple-color);
    margin: 1rem 0.7rem 0 0;
}

/* Bookmark Result */
.bookmark.container {
    padding-top: 30px;
}

.bookmark-list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.back-button {
    font-size: 20px;
    padding: 5px 30px;
    border: none;
    color: #fff;
    background-color: var(--purple-color);
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 30px;

    transition: 0.5s;
}

.back-button:hover {
    color: var(--dark-purple-color);
    background-color: #fff;
}

/* Recipe Result */
.main-recipe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: var(--light-dark-color);
    width: 23rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 0.3rem, rgba(6, 24, 44, 0.65) 0 1rem 2rem -0.2rem, rgba(255, 255, 255, 0.08) 0 0.1rem 0 inset;
    border-radius: 0.4rem;
    overflow: hidden;
    padding-bottom: 0.8rem;
}

.result {
    min-width: 70rem;
    max-width: 70rem;
    margin: 1.6rem auto;
}

.result img {
    max-width: 20rem;
    max-height: 30rem;
    margin: 0 auto;
    border: 0.2rem solid #fff;
}

.result .details {
    text-align: center;
    color: #fff;
    padding: 0.6rem;
}

.details h2 {
    font-weight: bold;
}

.details h4 {
    font-weight: 500;
}

.result ul {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8rem;
    padding: 1rem 6rem;
    text-transform: capitalize;
}

.result li {
    padding: 0 1.8rem;
    font-size: 1rem;
    text-align: center;
    color: #b7b7e2;
}

#recipe {
    background-color: var(--light-dark-color);
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 0.3rem, rgba(6, 24, 44, 0.65) 0 1rem 2rem -0.2rem, rgba(255, 255, 255, 0.08) 0 0.1rem 0 inset;
    border-radius: 0.4rem;
    padding-bottom: 0.8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4rem auto;
    padding: 0.8rem;
}

#recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0.8rem 1rem;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #fff;
}

@media all and (max-width: 450px) {
    .topnav li {
        width: 6.4rem;
    }

    .topnav li a {
        font-size: 0.8rem;
    }

    .container li {
        font-size: 1.4rem;
    }

    .container li a {
        font-size: 0.9rem;
    }

    .search-element h3 {
        font-size: 1.4rem;
    }

    .search-container .form-control {
        width: 100%;
    }

    .search-list {
        width: 100%;
        left: 0;
    }

    .search-list .search-list-item {
        width: 100%;
    }

    .movie-detail-info {
        flex-direction: column;
    }

    .movie-detail-info li:nth-child(2) {
        margin: 0.8rem 0;
    }
}

@media all and (min-width: 800px) {
    .search-element {
        flex-direction: row;
    }

    .search-element h3 {
        margin-bottom: 0;
    }

    .result-grid,
    .movie-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .movie-info {
        text-align: left;
        padding-left: 0;
    }

    .movie-info .movie-detail-info {
        justify-content: flex-start;
        padding-left: 0;
    }

    .movie-info .plot {
        margin-left: 0;
    }

    .movie-info .writer {
        padding-left: 0;
        margin-left: 0;
    }

}